table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}

thead {
  background-color: black;
  color: white;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #0056ED;
}

tbody tr:nth-child(odd) {
  background-color: #D7FAFE;
}

tfoot {
  background-color: black;
  color: white;
  font-size: 9px;
  text-align: center;
}

caption {
  font-size: 25px;
  padding: 10px;
}
